* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.page-title {
  margin-top: 2rem;
}

#setup-show {
  cursor: pointer;
}

.deck {
  text-align: center;

  .active-card {
    box-shadow: 2px 2px 2px #eee;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    height: 300px;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;

    .active-card-text {
      font-size: 20px;
      text-align: left;
    }
  }
}
